*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    overflow-x: hidden;
    font-family: 'Titan One', cursive;
    color: rgb(83, 45, 26);
}
.nav-link{
    color: rgb(255, 255, 255);
}
.navbar-toggler{
    border: 2px solid  rgb(255, 255, 255);
}
.md-edit1{
    height: 150px;
}
.myheader{
    background-color: #ca1d1d;
}
.burger5{
    border-radius: 20px;
}
.content-about{
border-radius: 20px;
padding: 15px;
background-color: rgb(210, 189, 173);
}
a{
    text-decoration: none;
    color: #ffffff;
}
.footer-style{
color: white;
background-color: #ca1d1d;
padding: 20px;
}
.myfonts{
    font-family: Georgia, serif;
    font-weight:bold;
}
.myfonts p{
font-size: 12px;
}
.pads{
    padding-left: 10px;
}
a:hover{
  color: rgb(83, 45, 26);
}
.para-about{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
}
.edit-foot{
    font-size: 10px;
    
}
.aboutmo{
    border-radius: 20px;
}
#border{
    border-radius: 20px;
}
#edita{
    background-color: rgb(83, 45, 26);
    padding-left: 45%;
    padding-right: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}
.mycolor{
background-color: #efdfc9;
border-radius: 20px;
}
.margina{
    margin-top: 300px;
}
#aedits{
    color: #94b81e
}
a:hover{
    color: red;
}
.ccolor{
    background-color: #cfad8f;
    border-radius: 10px;
    padding: 20px 20px;
}
#fontcolor{
    background-color: red;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}
.mycolor2{
    padding: 20px;
    border-radius: 20px;
    background-color: #cfad8f;
} 
.form-control{
    width: 50%;
}