*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    overflow-x: hidden;
    font-family: 'Titan One', cursive;
    color: rgb(83, 45, 26);
}
.nav-link{
    color: rgb(83, 45, 26);
}
.navbar-toggler{
    border: 2px solid  rgb(83, 45, 26);
}
.md-edit1{
    height: 150px;
}
.burger5{
    border-radius: 20px;
}
.content-about{
border-radius: 20px;
padding: 15px;
background-color: rgb(94, 105, 99);
}
a{
    text-decoration: none;
    color: #94b81e;
}
.footer-style{
color: white;
background-color: rgb(83, 45, 26);
padding: 20px;
}
.myfonts{
    font-family: Georgia, serif;
    font-weight:bold;
}
.myfonts p{
font-size: 12px;
}
.pads{
    padding-left: 10px;
}
a:hover{
  color: rgb(83, 45, 26);
}
.para-about{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
}
.edit-foot{
    font-size: 10px;
    
}
.aboutmo{
    border-radius: 20px;
}
